.container_Conteudo{
    margin: 1em;
}


.conteudo{
    background-color: #222;
    width: 290px;
    color: #efefef;
}
.conteudo img{
    margin: 10px;
    width: 200px;
    height: 100px;
    border-radius: 1px 1px 1px 2px black;
}
.conteudo:hover{
    padding: 3px;
    box-shadow: 1px 1px 2px 3px black;
}